#question_box {
    border: 1px solid black;
    padding: 30px;
}

button.opinion_response {
    text-align: center;
    padding: 10px 20px;
    margin: 0 20px;
    box-sizing: border-box;
    width: 30%;
}

p.question_text {
    margin-bottom: 20px;
}

p.initially_hide {
    opacity: 0;
    visibility: hidden;
}

button.initially_hide {
    opacity: 0.4;
}
